body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 20px;
    background-color: white;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    color: black;
    
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    background-color: #7d4700;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #965500ce;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

table, th, td {
    border: 1px solid black;
    border-radius: 8px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-radius: 8px;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
    border-radius: 8px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.excluir {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 8px;
}

.excluir:hover {
    background-color: #cc0000;
}