/* Estilos gerais */
body {
    font-family: 'roboto condensed', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #7d4700;
}

/* Seções do roteiro */
section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

section h2 {
    color: #7d4700;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
    color: black;
}

section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #1e1e1e;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}

footer p a {
    color: white;
}