/* Estilos globais */
body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.section-with-bg {
    background-size: cover; /* Cobrir toda a área da seção */
    background-repeat: no-repeat; /* Evitar repetição */
    background-position: center; /* Centralizar a imagem */
    padding: 100px 20px; /* Espaçamento interno */
    text-align: center;
    color: white; /* Cor do texto */
    align-items: center;
}


/* Header */
header {
    background-color: #0000007f;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

header nav {
    display: flex;
    flex-wrap: wrap; /* Permite que os links quebrem para a próxima linha em telas pequenas */
    gap: 10px; /* Espaçamento entre os links */
}

header nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

header nav a:hover {
    background-color: #0000007f;
}

/* Seção Início */
#inicio {
    text-align: center;
    width: 100%;
    height: 100vh;
    max-height: 70vh;
    color: white;
    background-image: url(./img/foto\ teste.jpg);
    
}


#inicio h1 {
    font-size: 2.5rem;
    margin: 0;
    margin-top: 100px;
}

#inicio h2 {
    font-size: 1.5rem;
    margin: 10px 10px;
    margin-top: 16px;
    text-align: center;
    font-weight: 300;
    justify-content: center;

}

/* Container da Agenda */

#agenda {
    background-color: white;
    padding: 0%;
    padding-left: 25px;
}


.container {
    background-color: #fff;
    padding: 20px;
    padding-top: 24px;
    border-radius: 8px;
    width: auto;
    min-width: 200px;
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

.container h1 {
    color: #7d4700;
    text-align: center;
}

#weather {
    color: black;
}

img.lazy {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
}


/* Formulário */
form {
    display: flex;
    flex-direction: column;
}

input, textarea, button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #7d4700;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #965500ce;
}

/* Lista de Atividades */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    background-color: #d4edda;
    text-decoration: line-through;
}

li button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

li button:hover {
    background-color: #c82333;
}

/* Footer */
#footer {
    background-color: #0000007f;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer a {
    color: #FFFFFF;
    text-decoration: none;
    
}

/* Estilos para o tema escuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .container {
    background-color: #1e1e1e;
    color: #ffffff;
}

/* Media Queries para Responsividade */
@media (max-width: 600px) {
    header nav a {
        font-size: 14px;
        padding: 6px 10px;
    }

    #inicio h1 {
        font-size: 2rem;
    }

    #inicio h2 {
        font-size: 1rem;
    }

    .container {
        padding: auto;
    }

    input, textarea, button {
        font-size: 14px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: auto;
    }
}

@media (min-width: 1025px) {
    .container {
        width: auto;
    }
}